<nav>
    {{#if user}}
        <div class="left-container">
            <ul>
                <li><a href="#/catalog">Home</a></li>
                <li><a href="#/myFlights">Flights</a></li>
            </ul>
        </div>
    <div class="right-container">
        <span>Welcome, {{user}} |</span>
        <a href="#/logout" class="log-out">Logout</a>
    </div>
    {{else}}
        <div class="left-container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
            </ul>
        </div>
        <div class="right-container">
        </div>
    {{/if}}
</nav>